body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
footer {
  position: relative;
  text-align: center;
  bottom: auto;
  left: auto;
}

.brands-footer {
  position: relative;
  padding: 0 15px;
}

.footer-links {
  color: gray;
}

.footer-links:hover {
  color: black
}